<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/index_styles.css">
</head>

<body>
    <h1>my age is <%=age%></h1>
    <h1>my name is <%=name%></h1>
    <h1 class="nes-text">A Website</h1>

    <p class="nes-text">Hello. This is a website. The website was written as NES styled.</p>

    <p class="nes-text">Used items for the website:</p>

    <ul class="nes-list is-circle">
        <li>https://nostalgic-css.github.io/NES.css/</li>
        <li>https://fonts.google.com/specimen/Press+Start+2P</li>
    </ul>

    <script src="/javascripts/index_script.js"></script>
</body>

</html>