<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>
    <link rel="stylesheet" href="/stylesheets/login.css">

</head>
<body>
    <div class="signup">
        <h2>User Login</h2>
        <form action="/user/login" method="post">
            <span>
            <label for="user-email">Email</label>
                <input type="text" id="user-email" required name="email">
            </span>

            <span>
            <label for="user-password">Password</label>
                <input type="text" id="user-password" required name="password">
            </span>
            <span><button type="submit">Login</button></span>
        </form>
    </div>

</body>
</html>